---
layout: default
---

<div class="journal journal--3x">
    <div class="contribution">
      <figure class="contributor"><span>{{ page.title }}</span></figure>
      {{ content}}
      {% for file in page.files %}
        <a class="file" href="{{ file.file }}" title="Download .{{ file.ext | upcase }}{% if file.size %}<br>({{ file.size }}){% endif %}">
          {% for image in file.images %}
            <figure class="thumb" style="background-image:url({{image}});"></figure>
          {% endfor %}
          <marquee>{{ file.file }}</marquee>
        </a>
     {% endfor %}
    </div>
</div>
