<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    {%- feed_meta -%}
  </head>

  <body>

    <header role="banner">

    <div class="nav">
      <a href="{{ site.baseurl }}/home">The Hoosac Institute</a>
      <a href="{{ site.baseurl }}/journal">Journal</a>
      <a href="{{ site.baseurl }}/about">About</a>
    </ul>

    </header>
    <main id="wrapper">
      {{ content }}
    </main>

    <footer>
    </footer>
    <script src="https://unpkg.com/tippy.js@2.5.2/dist/tippy.all.min.js"></script>
    <script>
      tippy('a', {
        followCursor: true,
        animateFill: false,
        duration: 0,
        placement: 'right'
      })
      var journal = document.querySelector('.journal');
      for (var i = journal.children.length; i >= 0; i--) {
          journal.appendChild(journal.children[Math.random() * i | 0]);
      }
    </script>
  </body>
</html>
