---
layout: default
---

<h1 class="page-heading">{{ page.title }}</h1>

{{ content }}

{% assign journals = site.journal | where: "category", "issue" %}

{% for journal in journals %}
  <a class="journal-thumb" href="{{ journal.url }}">
    {% assign contributions = site.journal  | where: "category", "contribution" %}
    {% for contribution in contributions %}
      <div class="contribution">
        <figure class="contributor"></figure>
        {% for file in contribution.files %}
          <div class="file">
            {% for images in file.images %}
              <figure class="thumb"></figure>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </a>
{% endfor %}
